Repository HPCMonitoring/sensor-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test husky
  .barrelsby.json
  src/App.tsx
  src/components/HelloWorld.tsx
  src/components/index.ts
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix husky not run
  .husky/post-commit
  .husky/pre-commit
Due: none

config path alias resolve
  package.json
  src/App.tsx
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Create README.md
  README.md
Due: prettier --write

add build scripts
  .dockerignore
  .env.example
  .gitignore
  Dockerfile
  README.md
Due: prettier --write

add workflows
  .github/workflows/build.yml
Due: prettier --write

fix `env.BACKEND_ENDPOINT` => `vars.BACKEND_ENDPOINT`
  .github/workflows/build.yml
Due: prettier --write

add ci on pull_request on master
  .github/workflows/build.yml
Due: prettier --write

update readme.md
  README.md
  package.json
Due: prettier --write

add deploy step to workflows
  .github/workflows/build.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

Fix deploy step run on pull request
  .github/workflows/build.yml
Due: prettier --write

Update build.yml
  .github/workflows/build.yml
Due: prettier --write

pick UI library & implement sample sidebar
  .barrelsby.json
  package.json
  src/App.css
  src/App.tsx
  src/components/HelloWorld.tsx
  src/components/Sidebar.tsx
  src/constants/index.ts
  src/constants/sidebar.ts
  src/index.css
  src/main.tsx
  src/pages/HelloWorld.tsx
  src/pages/index.ts
  tailwind.config.cjs
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix bug do not change webpage in CD
  .github/workflows/cicd.yml
  src/pages/HelloWorld.tsx
Due: eslint --fix, prettier --write

fit sidebar to page layout
  index.html
  src/App.tsx
  src/components/Sidebar.tsx
  src/index.css
Due: eslint --fix, prettier --write

pickup state management lib `zustand` and add toggle dark theme
  .barrelsby.json
  README.md
  package.json
  src/App.tsx
  src/components/Sidebar.tsx
  src/constants/storeName.ts
  src/states/index.ts
  src/states/sidebar.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix toggle theme error
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add router
  src/App.tsx
  src/assets/vite.svg
  src/components/Sidebar.tsx
  src/constants/storeName.ts
  src/pages/ClusterDetailPage.tsx
  src/pages/ClustersPage.tsx
  src/pages/HelloWorld.tsx
  src/pages/NotificationPage.tsx
  src/pages/SettingPage.tsx
  src/pages/index.ts
  src/states/cluster.ts
  src/states/index.ts
  src/states/sidebar.ts
Due: eslint --fix, prettier --write

add dark mode to global & sample cluster table page
  src/App.tsx
  src/index.css
  src/interfaces/Cluster.ts
  src/interfaces/index.ts
  src/pages/ClustersPage.tsx
  src/states/cluster.ts
Due: eslint --fix, prettier --write

add summarize bar
  src/pages/ClustersPage.tsx
  src/states/cluster.ts
Due: eslint --fix, prettier --write

does not collapse sidebar when already opened
  src/components/Sidebar.tsx
Due: eslint --fix, prettier --write

fix sidebar click auto reload
  src/App.tsx
  src/components/Sidebar.tsx
  src/index.css
  src/states/sidebar.ts
Due: eslint --fix, prettier --write

implement UI of cluster modal
  package.json
  src/components/ClusterModal.tsx
  src/components/Sidebar.tsx
  src/components/index.ts
  src/constants/storeName.ts
  src/index.css
  src/interfaces/Cluster.ts
  src/interfaces/cluster.ts
  src/pages/ClustersPage.tsx
  src/states/cluster.ts
  src/types/index.ts
  src/types/modalMode.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix bug auto toggle theme when reload page
  src/App.tsx
  src/components/Sidebar.tsx
  src/constants/sidebar.ts
  src/states/sidebar.ts
Due: eslint --fix, prettier --write

fix Dockerfile
  Dockerfile
Due: none

complete cluster page
  src/components/ClusterModal.tsx
  src/components/DeleteClusterModal.tsx
  src/components/index.ts
  src/constants/cluster.ts
  src/constants/index.ts
  src/constants/storeName.ts
  src/interfaces/cluster.ts
  src/pages/ClustersPage.tsx
  src/states/cluster.ts
Due: eslint --fix, prettier --write

implement skeleton of cluster detail page
  src/constants/index.ts
  src/constants/mockdata.ts
  src/pages/ClusterDetailPage.tsx
  src/states/cluster.ts
Due: eslint --fix, prettier --write

implement sensor page
  .barrelsby.json
  src/components/SensorConfigModal.tsx
  src/components/Sidebar.tsx
  src/components/index.ts
  src/constants/index.ts
  src/constants/mockdata.ts
  src/constants/sensor.ts
  src/constants/storeName.ts
  src/interfaces/index.ts
  src/interfaces/sensor.ts
  src/interfaces/sidebar.ts
  src/pages/ClusterDetailPage.tsx
  src/pages/ClustersPage.tsx
  src/states/index.ts
  src/states/sensor.ts
  src/states/sidebar.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

add sensor modal box
  src/components/ConfigSensorModal.tsx
  src/components/RemoveSensorModal.tsx
  src/components/SensorConfigModal.tsx
  src/components/index.ts
  src/constants/mockdata.ts
  src/constants/sensor.ts
  src/interfaces/cluster.ts
  src/interfaces/index.ts
  src/interfaces/modal.tsx
  src/interfaces/sensor.ts
  src/pages/ClusterDetailPage.tsx
  src/states/cluster.ts
  src/states/sensor.ts
Due: eslint --fix, prettier --write

fix sensor system info attr name
  src/components/ConfigSensorModal.tsx
  src/constants/mockdata.ts
Due: eslint --fix, prettier --write

refactor code
  package.json
  src/components/ClusterModal.tsx
  src/components/ConfigSensorModal.tsx
  src/components/DeleteClusterModal.tsx
  src/components/RemoveSensorModal.tsx
  src/components/index.ts
  src/constants/errorMessage.ts
  src/constants/index.ts
  src/constants/storeName.ts
  src/pages/ClusterDetailPage.tsx
  src/states/cluster.ts
  src/states/sensor.ts
  src/states/sidebar.ts
  src/utils/createSimpleModalStore.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

modify config sensor modal
  src/components/ConfigSensorModal.tsx
  src/index.css
  src/interfaces/sensor.ts
Due: eslint --fix, prettier --write

test workflow
  src/App.tsx
Due: eslint --fix, prettier --write

fuck css
  src/App.tsx
  src/components/ConfigSensorModal.tsx
Due: eslint --fix, prettier --write

fix bug not load css
  src/components/ConfigSensorModal.tsx
  src/index.css
  src/pages/NotificationPage.tsx
  tailwind.config.cjs
Due: eslint --fix, prettier --write

add config kafka topic
  src/components/ClusterModal.tsx
  src/components/ConfigSensorModal.tsx
  src/components/KafkaTopicUsageTable.tsx
  src/components/index.ts
  src/constants/mockdata.ts
Due: eslint --fix, prettier --write

add code editor
  package.json
  src/components/KafkaTopicUsageTable.tsx
  src/components/YamlCodeBlock.tsx
  src/components/index.ts
  src/constants/mockdata.ts
  src/index.css
  yarn.lock
Due: eslint --fix, prettier --write

complete topic config form
  src/components/ConfigSensorModal.tsx
  src/components/KafkaTopicUsageTable.tsx
  src/components/YamlCodeBlock.tsx
  src/components/index.ts
  src/constants/formId.ts
  src/constants/index.ts
  src/constants/mockdata.ts
  src/constants/sensor.ts
  src/index.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,js,tsx}
  prettier --write: any of: **/*.{ts,js,json,md,yml,yaml,tsx}
